body {
  background-color: antiquewhite;
  padding-left: 40px;
  padding-right: 40px;
}
.header{
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: burlywood;
  height: 40px;
}
  .header a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
  }
  .header a:hover {
    background-color: azure;
    transform: scale(150%);
  }
  
  .footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: burlywood;
    height: 40px;
  }
  
  .footer a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
  }
  
  .footer a:hover {
    background-color: azure;
    transform: scale(150%);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 100%
  }
  
  .image {
    flex-basis: 70%
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
  }

  .container2 {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 100%
  }
  
  .image2 {
    flex-basis: 90%
  }
  
  .text2 {
    font-size: 20px;
    padding-left: 20px;
  }

  .wrap {
    border-width: 4px;
    border-style: solid;
    padding: 10px 10px 10px 10px;
    box-shadow: 5px 5px 8px #94b3c8, 10px 10px 8px #4d4e24, 15px 15px 8px #bd8025;
    }
