body {
  background-color: antiquewhite;
  padding-left: 40px;
  padding-right: 40px;
}
.header{
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: burlywood;
  height: 70px;
}
  .header a {
    text-decoration: none;
    font-family: sans-serif;
  }
  .header a:hover {
    background-color: azure;
    transform: scale(150%);
  }
  
  .footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: burlywood;
    height: 40px;
  }
  
  .footer a {
    text-decoration: none;
    font-family: sans-serif;
  }
  
  .footer a:hover {
    background-color: azure;
    transform: scale(150%);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 100%
  }
  
  .image {
    flex-basis: 70%
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
    font-family: sans-serif;
    font-size: 20px;
  }

  .container2 {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 100%
  }
  
  .image2 {
    flex-basis: 90%
  }
  
  .text2 {
    font-size: 20px;
    padding-left: 20px;
    font-family: sans-serif;
    font-size: 20px;
  }

  .wrap {
    border-width: 4px;
    border-style: solid;
    padding: 10px 10px 10px 10px;
    box-shadow: 5px 5px 8px #94b3c8, 10px 10px 8px #4d4e24, 15px 15px 8px #bd8025;
    }

    @media (min-width: 700px) and (max-width: 999px) {
      .text h1{
        font-size: 15px;
      }

      .text h2 {
        font-size: 13px;
      }

      .text2 h1 {
        font-size: 15px;
      }

      .text2 h2{
        font-size: 13px;
      }
  
      .header a {
        font-size: 16px;
      }
      
      .footer a {
        font-size: 16px;
      }

    }
  
    @media (min-width: 1000px) {
      .text h1{
        font-size: 22px;
      }

      .text h2 {
        font-size: 21px;
      }

      .text2 h1 {
        font-size: 22px;
      }

      .text2 h2{
        font-size: 21px;
      }
    
        .header a {
          font-size: 25px;
        }
        
        .footer a {
          font-size: 25px;
        }
      }
      @media (max-width: 699px) {
        .text h1{
          font-size: 8px;
        }
  
        .text h2 {
          font-size: 9px;
        }
  
        .text2 h1 {
          font-size: 8px;
        }
  
        .text2 h2{
          font-size: 9px;
        }
    
        .header a {
          font-size: 10px;
        }
        
        .footer a {
          font-size: 10px;
        }
      }
