.header{
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: burlywood;
  height: 40px;
}
  .header a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
  }
  .header a:hover {
    background-color: azure;
    transform: scale(150%);
  }
  
  .footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: burlywood;
    height: 40px;
  }
  
  .footer a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
  }
  
  .footer a:hover {
    background-color: azure;
    transform: scale(150%);
  }